name: Build Android APK
on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build with Buildozer
        # DÜZELTİLEN SATIR BURASI:
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          workdir: mobile
          buildozer_version: master
          command: buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: python-toolbox-apk
          path: mobile/bin/*.apk
